?xml version='1.0' encoding='UTF-8'?>
<settings xsi:schemaLocation='https://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd' xmlns='https://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
	
    <server>
      <id>central</id>
      <username>kshahcloud@gmail.com</username>
      <password>Bhallu@1998</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>kshahcloud@gmail.com</username>
      <password>Bhallu@1998</password>
    </server>

<profiles>
   <profile>
       <repositories>
           <repository>
               <snapshots>
                   <enabled>false</enabled>
               </snapshots>
               <id>bintray-<username>-maven</id>
               <name>bintray</name>
               <url>https://dl.bintray.com/jaycroaker/maven</url>
           </repository>
       </repositories>
       <pluginRepositories>
           <pluginRepository>
               <snapshots>
                   <enabled>false</enabled>
               </snapshots>
               <id>bintray-<username>-maven</id>
               <name>bintray-plugins</name>
               <url>https://dl.bintray.com/jaycroaker/maven</url>
	       <server>
                    <id>bintray-<REPOSITORY_NAME></id>
		    <username>kamlesh333</username>
		    <password>1f98f6a584f24f235e2e8191eb391dd9929da39d</password>
	    </server>
	    <!--
    <server>
      <id>central</id>
      <username>kshahcloud@gmail.com</username>
      <password>Bhallu@1998</password>
    </server>
	    -->

           </pluginRepository>
       </pluginRepositories>
       <id>bintray</id>
   </profile>
</profiles>
<activeProfiles>
   <activeProfile>bintray</activeProfile>
</activeProfiles>
</settings>
